[submodule "depth-diff-gaussian-rasterization"]
    path = submodules/depth-diff-gaussian-rasterization
    url = https://github.com/ingra14m/depth-diff-gaussian-rasterization.git

[submodule "simple-knn"]
    path = submodules/simple-knn
    url = https://github.com/camenduru/simple-knn.git
