[submodule "depth-diff-gaussian-rasterization"]
	path = depth-diff-gaussian-rasterization
	url = git@github.com:graphdeco-inria/diff-gaussian-rasterization.git
[submodule "simple-knn"]
	path = simple-knn
	url = git@github.com:camenduru/simple-knn.git
